body {
    background-color: wheat;
    color: black;
    font-family: 'Nanum Gothic Coding', monospace;
}

.container {
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "art art art art"
    "car car car car"
    "con con con con"
    "ft ft ft ft";
    padding: 10px;
}

.line {
    width: 20px;
    height: 3px;
    background: purple;
    margin: 3px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
}

.logo {
    width: 20%;
    left: 3%;
}

.menu_bar {
    grid-area: nav;
    position: relative;
}

.post_content {
    grid-area: art;
}

.card_author {
    grid-area: car;
}

.card_content {
    grid-area: con;
}

.social_media {
    grid-area: ft;
}


.post_content {
    grid-area: art;
}

.post_image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.content_post img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.card_author {
    position: relative;
    text-align: center;
}

.avatar {
    width: 10%;
    object-fit: cover;
    left: 30%;
    position: absolute;
    top: 5%;
}

.card_icons {
    display: flex;
    justify-content: center;
    max-width: 95%;
    list-style: none;
}

.card_firstcontent {
    margin: 0.5%;
    border: solid 2px purple;
    cursor: pointer;
}
    
.card_secondcontent {
    margin: 0.5%;
    border: solid 2px purple;
    cursor: pointer;
}

.card_thirdcontent {
    margin: 0.5%;
    border: solid 2px purple;
    cursor: pointer;
}
    
.social_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}

.social_logo {
    max-width: 5%;
    margin-right: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: purple;
}
  
.social_icons {
    display: block;
}

.icon{
   display: inline;
   padding: 0;
   margin: -3%;
}
  
.fa:hover {
    opacity: 0.7;
}

.other_items a {
    color: purple;
}

@media only screen and (max-width: 601px) {
    .avatar {
        left: 7%;
        width: 15%;
    }
}