body{
    background-color: wheat;
    color: black;
    font-size: 16px;

}
button{
    background-color: rgb(121, 19, 121);
    color: wheat;
}
.date_posted{
    margin-left: 0;
    color: rgb(46, 29, 46);
}

.minute_read{
    margin-left: 40%;
    color: rgb(46, 29, 46);
}
.logo {
    width: 300px;
}

.footer_logo{
    width: 50px;
    height: 50px;
    margin-right: 50%;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  li{
      display: block;
  }
.icon{
   display: inline;
   padding: 0;
   margin: -3%;
}
  
.fa:hover {
    opacity: 0.7;
  }

.post_link{
    text-decoration: none;
    color: black;
}


.container {
    display: grid;
    height: 100vmax;
    font-size: 20px;
    margin: auto;
    grid-template-columns: 1fr
    grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(5px, auto);
    grid-template-areas: 
    "nav"
    "hd"
    "car"
    "con"
    "sec"
    "ft";
}

.line {
    width: 20px;
    height: 3px;
    background: purple;
    margin: 3px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
}


.nav{
    grid-area: nav;
    
}
.header {
    grid-area: hd;
}
.card{
    grid-area: car;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.card_content{
    grid-area: con;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.card_firstcard{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}

.card_secondcard{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
.card_thirdcard{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
.card_fourthcard{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
.card_firstcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}

.card_secondcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
.card_thirdcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
.card_fourthcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}

.footer_1 {
    grid-area: sec;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 50px;
    background-color: whitesmoke;

    

}

.ftlinks{
    width: 40%;
    color: rgb(46, 29, 46);
    margin: 120px;
    text-decoration: none;
}



.footer_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: ft;
    background-color: whitesmoke;
}
    
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        display: grid;
        height: 100vmax;
        margin: auto;
        grid-template-columns: repeat(2, 1fr)
        grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(5px, auto);
        grid-template-areas: 
        "nav nav"
        "hd hd"
        "car car"
        "con con"
        "sec sec"
        "ft ft";
    }
    .card{
        grid-area: car;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .card_content{
        grid-area: con;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }    
    .footer_1 {
        grid-area: sec;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgb(197, 157, 197);
        width: 100%;
        line-height: 50px;
        }
    .footer_logo{
         width: 150px;
        height: 30%;}

}

@media only screen and (min-width: 901px) {
    .container {
        display: grid;
        height: 100vmax;
        grid-template-columns: repeat(4, 1fr)
        grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(5px, auto);
        grid-template-areas: 
        "nav nav nav nav"
        "hd hd hd hd"
        "car car car car"
        "con con con con"
        "sec sec sec sec"
        "ft ft ft ft";
    }

    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }

    button{
        text-align: center;
        margin-left: 600px;
    }
    .card{
        grid-area: car;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    .card_content{
        grid-area: con;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }    
    
    .footer_1 {
        grid-area: sec;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(197, 157, 197);
        width: 100%;
        line-height: 50px;}

}