body{
    background-color: black;
    
}

.container {
    display: grid;
    height: 100vmax;
    font-size: 20px;
    margin: auto;
    border: solid 2px rgb(221, 29, 29);
    grid-template-columns: 1fr
    grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(20px, auto);
    grid-template-areas: 
    "nav"
    "hd"
    "car"
    "con"
    "sec"
    "ft";
}
    
 
.nav{
    border: solid 2px rgb(243, 6, 6);
    grid-area: nav;
    background: blue;
}
.header {
    border: solid 2px rgb(243, 6, 6);
    grid-area: hd;
    background: chartreuse;
}
.card{
    border: solid 2px rgb(243, 6, 6);
    grid-area: car;
    background: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_content{
    border: solid 2px rebeccapurple;
    grid-area: con;
    background: rgb(255, 166, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.section{
    border: solid 2px rgb(243, 6, 6);
    grid-area: sec;
    background: cyan;

}
.footer{
    border: solid 2px rgb(243, 6, 6);
    grid-area: ft;
    background: darkmagenta;
}

#card1{
    border: solid 2px rgb(243, 6, 6);
        padding: 20px;
        margin: auto;
}

#card2{
    border: solid 2px rgb(243, 6, 6);
        padding: 20px;
        margin: auto;
}

#card3{
    border: solid 2px rgb(243, 6, 6);
        padding: 20px;
        margin: auto;
}

#card_content1 {
    border: 2.5px royalblue;
    margin: auto;
    }
    
#card_content2 {
        border: solid 2px rgb(243, 6, 6);
        padding: 20px;
        margin: auto;
    }
#card_content3 {
    border: solid 2px rgba(243, 6, 6, 0.233);
        padding: 20px;
        margin: auto;
    }
    
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        display: grid;
        height: 100vmax;
        margin: auto;
        border: solid 2px rgb(221, 29, 29);
        grid-template-columns: repeat(2, 1fr)
        grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(20px, auto);
        grid-template-areas: 
        "nav nav"
        "hd hd"
        "car car"
        "con con"
        "sec sec"
        "ft ft";
    }
    .card{
        border: solid 2px rgb(243, 6, 6);
        grid-area: car;
        background: chocolate;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .card_content{
        border: solid 2px rebeccapurple;
        grid-area: con;
        background: rgb(255, 166, 0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }    
  

}

@media only screen and (min-width: 901px) {
    .container {
        display: grid;
        height: 100vmax;
        width: 100%;
        grid-template-columns: repeat(4, 1fr)
        grid-auto-rows: minmax(20px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(20px, auto);
        grid-template-areas: 
        "nav nav nav nav"
        "hd hd hd hd"
        "car car car car"
        "con con con con"
        "sec sec sec sec"
        "ft ft ft ft";
    }
    .card{
        border: solid 2px rgb(243, 6, 6);
        grid-area: car;
        background: chocolate;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    .card_content{
        border: solid 2px rebeccapurple;
        grid-area: con;
        background: rgb(255, 166, 0);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }    
    
  

}