body{
    background-color: wheat;
    color: black;
}

@import "blogpost\smallscreens.css";
@import "blogpost\mediumscreens.css";
@import "blogpost\largescreens.css";
@import "blogpost\navbar.css";
@import "blogpost\section.css";
@import "blogpost\footer.css";

.post_content {
    grid-area: art;
    border: solid 2px red;
}

.post_image img {
    width: 100%;
    height: 50vh;
}

 

    

    
