body{
    background-color: wheat;
    color: black;

}


.author_image{
    width: 50px;
    height: 20vh;
    position: absolute;
    left: 5%;
}

.bio_author{
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.bio_profile{
        padding: 2%;
        background-color: purple;
        cursor: pointer;
        color: wheat;
        
        
}

.profile_media_icons{
    display: flex;
    justify-content: center;

}
.card_author{
    border: solid 2px purple;
    position: relative;
    grid-area: car;
    text-align: center;
}



.section_image img{
    width: 460px;
    height: 50vh;
}

.line {
        width: 20px;
        height: 3px;
        background: purple;
        margin: 3px;}
    
.hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;}

 .logo {
    width: 300px;
    }

.footer_logo{
    width: 50px;
    height: 50px;
    margin-right: 50%;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: purple;
  }

  li{
      display: block;
  }

.icon{
   display: inline;
   padding: 0;
   margin: -3%;
   
   
}
  
.fa:hover {
    opacity: 0.7;
  }

.post_link{
    text-decoration: none;
    color: black;
}
 
.nav{
    grid-area: nav;}
    
.post-content {
    grid-area: art;
    border: solid 2px red}
    
.card_content{
    grid-area: con;
    border: solid 2px black;}
     
.similar_article{
    color: rgb(209, 204, 209);}


.card_firstcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;}
    
    .card_secondcontent{
        border-radius: 5%;
        border: solid 1px purple;
        margin: 0.5%;
    }
    .card_thirdcontent{
        border-radius: 5%;
        border: solid 1px purple;
        margin: 0.5%;
    }
    
    .footer_media {
        grid-area: ft;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 50px;
        background-color: whitesmoke;
    


@media only screen and (max-width: 600px){
.container {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 50px 150px 150px 150px 50px;
    grid-template-areas: 
    "nav"
    "art"
    "car"
    "con"
    "ft";
 }

}


@media only screen and (min-width: 601px) and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 50px 200px 200px 200px 50px;
        grid-template-areas: 
        "nav nav nav nav"
        "car car art art"
        "car car art art"
        "con con con con"
        "ft ft ft ft";
        
    }

    
}
    
@media only screen and (min-width: 901px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: 50px 150px 150px 150px 50px;
        grid-template-areas: 
        "nav nav nav nav"
        "car car art art"
        "art art art art"
        "con con con con"
        "ft ft ft ft";}
            
        }
    
}