.line {
    width: 20px;
    height: 3px;
    background: purple;
    margin: 3px;
}

.menu_bar{
    position: relative;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 50%;
}

.logo {
width: 10px;
}