.card_author {
    border: solid 2px purple;
    position: relative;
    text-align: center;
}

.author_title img {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 5%;
}

.bio_author {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.bio_profile {
        padding: 2%;
        background-color: purple;
        cursor: pointer;
        color: wheat;
        
}

.profile_media_icons {
    display: flex;
    justify-content: center;

}

.similar_article {
    color: rgb(209, 204, 209);
}

.card_content {
    border: solid 2px black;
}

.card_firstcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
    
.card_secondcontent {
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}

.card_thirdcontent{
    border-radius: 5%;
    border: solid 1px purple;
    margin: 0.5%;
}
