.body{
    background-color: wheat;
    color: black;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
    "nav"
    "sec1"
    "sec2"
    "sec3"
    "ft";
}

.nav_bar {
    background-color: blue;
    grid-area: nav;
    border: solid 2px white;
}

.section1 {
    background-color: yellow;
    grid-area: sec1;
    border: solid 2px white;
}

.section2 {
    background-color: tomato;
    grid-area: sec2;
    border: solid 2px white;
}

.section3 {
    background-color: violet;
    grid-area: sec3;
    border: solid 2px white;
}

.footer_doc {
    background-color: saddlebrown;
    grid-area: ft;
    border: solid 2px white;
}

@media only screen and (min-width: 601px) and (max-width: 900px){

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px 150px 150px 50px;
    grid-template-areas: 
    "nav nav nav nav"
    "sec1 sec2 sec2 sec2"
    "sec1 sec2 sec2 sec2"
    "sec3 sec3 sec3 sec3"
    "ft ft ft ft";
}
}

@media only screen and (min-width: 901px){

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 150px 150px 150px 50px;
        grid-template-areas: 
        "nav nav nav nav"
        "sec1 sec2 sec2 sec2"
        "sec1 sec2 sec2 sec2"
        "sec3 sec3 sec3 sec3"
        "ft ft ft ft";
    }
    }
    