.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    "nav"
    "art"
    "car"
    "con"
    "ft";
}

.menu_bar {
    grid-area: nav;
}

.post_content {
    grid-area: art;
}

.card_author {
    grid-area: car;
}

.card_content {
    grid-area: con;
}

.social_media {
    grid-area: ft;
}